
body{
  font-family: 'Caveat Brush', cursive;
}
h1, h2, h3, h4, h5, h6 {
     font-family: 'Caveat Brush', cursive;
}
p, a, li, span, label, tr, td, th, input {
    font-family: 'Caveat Brush', Regular;
}
section.header_section {
    background-color: #f15a24;
}
.navbar {
    background-color: #f15a24!important;
}
.navbar-default .navbar-nav>li>a {
    font-weight: 400;
    font-size: 1.9rem;
}
.login-signup a {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.phone-number-contact{
    font-size: 18px !important;
}
.design-list {
    background-color: #f15a24;
}
.info-game p {
    color: #ffffff;
	    font-size: 20px;
		font-weight: 600;
}
.dis-game {
    color: #fff;
	    font-size: 1.9rem;
}
footer button.ios {
    font-weight: 400;
}
footer button.android{font-weight: 400;}
.navbar-default .navbar-nav>li>a:hover{color: #fff !important;}
.login-signup li {
    border-right: 1px solid #fff;
        margin-top: 6px;
}
.hedding-children h1 {
    font-size: 7rem;
}
.hover-deta-img-kids{
    text-align: center;
    min-height: 270px;
}
.hover-deta-img-kids h2{
    font-size: 32px;
}
button.enquire-now {
    width: 80%;
    padding: 10px 0;
    background: #c80000;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
.right-header {
    background-color: #f15a24;
}
.login-signup.mr-auto {
    display: inline-block;
    float: left;
    margin: 0 0px;
}
.dropdown-menu {
    background-color: #f15a24;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.childpara p {
	font-weight: 400;
    text-align: left;
    line-height: 26px;
    margin-top: 15px !important;
    font-size: 18px;
}
.head-challange p {
    font-size: 18px;
}
@media screen and (max-width: 480px){
.serach-result .filter_vailue {
    background-position: 10px 9px !important;
}
.map-toggle-button{top:-8px !important;}
}
.kidspara{
    height: 180px;
    padding: 10px 0 0 0;
}
section.video-vanue {
    background: url(../images/happy-children-playing.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    padding: 0px 0;
    background-size: contain;
}
