
@media screen and (max-width: 3500px) and (min-width: 2000px) {
  .why-join-us {
    background-image: url(../images/golf-men.png);
    background-repeat: no-repeat;
    background-position: right 8px;
    background-size: 14%;
    padding: 50px 0 0;
}
.about_us {
     background-position: left 8px;
    background-size: 14%;
}
.basic-status{
     background-position: left 8px;
    background-size: 14%;
}
section.app-store{
     background-position: right 8px;
    background-size: 14%;
}
}
}
/*-------------------------------------------------------*/
/* When the browser is between 0px and 1200px wide,below css will be applied.
/*-------------------------------------------------------*/

@media screen and (max-width: 1200px) {
   .navbar-nav {
    padding: 0;
}
.hero {
    top: 56%;
}
.search .navbar-brand{font-size: 30px;}
.search .form-control{width: 38rem;}

}
@media screen and (min-width: 1200px) {
    
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
.navbar-default .navbar-nav>li>a {
    font-size: 1.2rem;
    padding: 11px 7px;
}
.search .navbar-brand {
    font-size: 29px;
}
li.nav-item.dropdown{    padding: 0 3px;}
.image-phone {
    width: 570px;
}
h1 {
    font-size: 56px;
}
.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3{    height: 450px !important;
    background-size: cover;
    background-position: center;}
        .content-status h3 {
    font-size: 12px !important;
    color: #47595a;
    line-height: 13px;
    text-transform: uppercase;
}
.head-section-status h2{    font-size: 18px !important;}
}
@media screen and (max-width: 999px) and (min-width: 929px) {
.container {
    width: 850px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 1.2rem;
    padding: 8px;
}
}
@media only screen and (max-width: 928px) {
    .download-now{
        text-align: center;
    padding-top: 20px;
    }
    .select-coaching {
        width: 25%;
    }
 .description .col-sm-4{padding: 0;}
.right-team-spot {
    padding: 7px;
}
.image-phone {
    position: relative;
    right: 0;
}
.navbar-default .navbar-nav>li>a {
    font-size: 1rem;
    padding: 7px;
}
.selectcity-town {
    display: inline-block;
    float: left;
    width: 64%;
}
.selectcity-town input[type="text"] {
    padding: 12px 10px;
    margin: 0;
    font-size: 15px;
}
button.search {
    padding: 13px 7px;
    font-size: 14px;
}
.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3{    height: 450px !important;
    background-size: cover;
    background-position: center;}

}
/*-------------------------------------------------------*/
/* When the browser is between 0px and 992px wide,below css will be applied.
/*-------------------------------------------------------*/

@media screen and (max-width: 992px) {
     h1{font-size: 28px !important;}
     h2{font-size: 24px !important;}
     h3{font-size: 18px !important;}
     p{font-size: 14px !important;}
     .content-carousel-item h1{font-size: 18px !important;}
.search .form-control {
    padding: 2rem 1rem;
    font-size: 16px;
    width: 25rem;
}
.map-toggle-button {
    top: -37px;
}
.descriptiontitle{
    margin-top:90px;
}
.account-setting-content .map-toggle-button {
    top: 50px;
    top: 50px;
    margin-bottom: 40px;
}
.search-fields.dashboard-game .search img {
    margin: 0 7px;
    width: 16px;
    display: none;
}
.dashboard-game .selectcity-town {
    width: 79%;
}
button.search {
    width: 21%;
    background-color: #c80000;
    border: none;
    padding: 14px 7px;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
}
a.navbar-brand.pull-right.phone-number-contact {
    position: absolute;
    left: 0;
    top: -37px;
}
button.search {
    font-size: 13px;
}
.select-coaching select{padding: 13px 20px; font-size: 9px;}
.hero{top: 60%;}

.navbar-nav{padding: 0;}
.content-status {
    padding: 10px;
    height: 424px;
}
.total-game {
    padding: 146px 20px 0;
    height: 424px;
}
.img-add-here {
    padding-top: 30px;
}
.content-status img {
    width: 100%;
        border-radius: 5px;
    height: 50px;
    width: 70px;
    object-fit: cover;
}
.edit-your-profile {
    padding: 8px 9px;
    margin: 0 auto;
    border-radius: 5px;
    display: block;
}

ul.join-resion {
    padding: 0;
    width: 100%;
}
.search a.navbar-brand {
    display: block;
    font-size: 24px !important;
}
.logo {
    width: 170px;
}
   .basic-info .text-basic {
    width: 80%;
}
.your-booking {
    padding: 35px;
}
.header_section a.dropdown-item {
    color: #fff;
}
.post-by {
    overflow: hidden;
    margin: 18px 0;
}
.login-signup.mr-auto {
    display: inline-block;
    position: relative;
    width: auto;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    position: relative;
}
.player-img {
    height: 20px;
    width: 20px;
    float: left;
}
.video-play-icon {
    width: 93px;
}
.play-video-icon {
    width: 76px;
    top: 30%;
}
.video-play-icon-cp {
    top: 100px;
    width: 100px;
}
.hover-deta-img{width: 85%;}
.info-game {
    padding: 10px 0;
}
.account-setting-content .game-img img{height: 20vh;}
button.follow{    padding: 4px 7px;}
.dashboard-header a.navbar-brand {
    display: block;
}
.edit-profile-img-profilepage {
    height: 125px;
    width: 125px;
}
.your-session {
    padding: 49px 41px;
}
.time-and-place li{
        margin: 6px 0;
}
.date-and-filter {
    padding: 8px 15px;
    overflow: hidden;
}
.dashboard-header .navbar-nav {
    padding: 0;
    float: left !important;
    margin-top: 20px;
}
.dashboard-header .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 7px;
    font-weight: 600;
    color: #fff !important;
}
button.edit-profile-button {right: -68px;
}
.download-now h1 {
    text-transform: uppercase;
    color: #000;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 0;
}
button.ios{    padding: 7px 10px;margin: 10px 0;width: 100%;}
button.android{padding: 7px 10px;width: 100%;}
.image-phone {
    position: relative;
    right: 0;
    width: 390px;
    top: 41px;
}
.play-video {
    width: 83px;
}
.basic-status {
    background-repeat: no-repeat;
    background-position: -44px 55px;
    background-size: 31%;
    padding: 70px 0 61px;
}
.about_us {
    background-size: 42%;
}
.time h2 {  
    font-size: 16px !important;
}
.why-join-us{padding: 0;}
.bottom-footer{margin-top: 80px;text-align: center;}
.bottom-footer p {
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;
}
footer .buttons-playstore {
    display: block;
}
footer button.ios {
    font-size: 14px;
    padding: 10px 0;
    margin: 0;
    width: 27%;
    margin: 10px 0;
}
footer button.android {
    font-size: 14px;
    padding: 10px 0;
    margin: 0;
    width: 27%;
    margin: 10px 0;
}
    .content-status h3 {
    font-size: 12px !important;
    color: #47595a;
    line-height: 13px;
    text-transform: uppercase;
}
.head-section-status h2{    font-size: 18px !important;}
.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3{    height: 450px !important;
    background-size: cover;
    background-position: center;}
    .video-detail iframe {
    width: 100%;
}
}
/*-------------------------------------------------------*/
/* When the browser is between 0px and 767px wide,below css will be applied.
/*-------------------------------------------------------*/

@media screen and (max-width: 767px) {
   h1{font-size: 28px !important;}
     h2{font-size: 24px !important;}
     h3{font-size: 15px !important;}
     p{font-size: 14px !important;}
     .hover-deta-img-crousel h2 {
    font-size: 24px !important;
}
img.mail-icon {
    display: none;
}
.hedding-children {
    top: 90px;
}
.abot-us-content p{width: 100%;}
section.search-detail {
    margin: 80px 0 20px;
}
.head-challange {
    padding: 0 0;
}
.video-detail iframe {
    width: 100%;
}
.search .navbar-brand {
    font-size: 2rem;line-height: 28px;}
.when-and-where{margin-top: 20px;}
.carousel-link .thumb{height: 70px;}
.selectfilter{background: transparent;}
.about_us{
    background: none;
}
.banner-detail-info li {
    display: inline-block;
    width: 82px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    margin: 0 30px;
    height: 82px;
    transform: rotate(45deg);
}
.why-join-us{
    background: none;
}
.basic-status{
    background: none;
}
.search .form-control {
       padding: 3px 9px;
    font-size: 1rem;
    width: 60%;
    margin: 13px 0;
    font-weight: 700;
    height: 40px;
    float: left;
    border-radius:5px 0 0 5px;
}
.phone-number-contact{display: none;}
ul.navbar-nav.menu-header.mt-2.mt-lg-0 {
    display: block;
}
.game-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul.social {
    margin-bottom: 30px;
}
.bottom-footer {
    margin-top: 52px;
}
.social li {
    margin: 0 7px 0 0;
}
li.nav-item.dropdown {
    background-size: 15px;
}
.bottom-footer p {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    width: 100%;
    margin: 0 auto 16px;
    text-align: center;
    padding: 0 0;
}
.social li span {
    font-size: 12px;
}
.footer-menu li a {
    font-size: 14px;
}
.img-add-here {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
section.about_us {
    padding: 0 0;
}
.play-video {
    width: 65px;
}
.search .btn.btn-outline-success{border-radius: 0;    background-color: #c80000;
    border: 1px solid #c80000;
    color: #fff;
    padding: 6px 0;
    margin: 13px 0 0;
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    width: 37%;
    float: left;
    height: 40px;}
a.navbar-brand {
    float: none;
}
.navbar-nav>li {
    float: none;
    display: block;
    padding: 5px 0;
}
.navbar-nav {
    margin: 7.5px -15px;
    overflow: auto;
    height: 600px;
    overflow-x: scroll;
}
form.form-inline {
    display: block;
    float: none;
        text-align: center;
}
.video-section {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.why-join-us {
    background-size: 59%;
     background-position: right 0;
}
.learn-more {
    padding: 10px 23px;
    width: 240px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.why-join {
    text-align: center;
}
.banner-detail{height: 200px;}
.about_us{background-size: 100%;}
ul.join-resion {
    width: 100%;
}
section.search {
    text-align: center;
    position: relative;
}
.total-game{
    margin: 10px 0;
        background-color: #c80000;
    padding: 90px 20px;
    border-radius: 10px;
    text-align: center;
    height: auto;
}
.content-status{margin: 10px 0; height: auto;}
.basic-status {
    background-position: 0 0;
    background-size: 100%;
    padding: 30px 0 0;
}
.left-pannel{
    width: 100%;
    display:none;
}
.right-pannel {
    width: 100%;
    padding: 20px;
    position: relative;
    background-color: #252527;
}
.signin-top-section img {
    float: left;
    left: 0;
}
.sign-in-fb {
    width: 100%;
    display: block;
    margin: 15px 0;
}
span.or {
    display: block;
    text-align: center;
}
button.sign-in-here {
    width: 100%;
    display: block;
    margin: 15px 0;
}
.sign-in-form {
    margin-top: 80px;
}
.section-headding h1 span{font-size: 2rem;}
.section-headding h1{margin-top: 10px; margin-bottom: 10px;}
.sign-up-form input.form-control{width: 100%;}
.sign-in-form input.form-control{width: 100%;}
section.app-store {
    background-size: 39%;
    padding: 0;
    background-position: right bottom;
}
.captcha.contact-captcha{width: 100%;}
.p-0{padding-right: 7px;
    padding-left: 7px;}
    .contact-us-form .p-0 {
    padding-right: 15px;
    padding-left: 15px;
}
.contact-us-form .pl-0 {
    padding-left: 15px;
}
.captcha.contact-captcha {
    width: 100%;
    padding: 0 15px;
}
    .hover-deta-img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 94%;
    text-align: center;
    margin: 20px;
    padding-top: 52px;
}
section.blocks-children {
    margin: 20px 0;
}
.item .p-0{padding-right: 0;
    padding-left: 0;}
.download-now h1 {
    text-transform: uppercase;
    color: #000;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 0;
}
.hover-deta-img h2 {
    font-size: 2.5rem;
}
.hover-deta-img-crousel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 100px;
}
.hedding-children h1 {
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
}
h2.available-hedding {
    font-size: 2rem;
}
.hidden-xs{display: none}
.visible-xs{display: block;}
.content-carousel-item h2 {
    font-size: 2rem !important;
    line-height: initial;
}
.content-carousel-item h2 {
    font-size: 2rem !important;
}
.img-and-info{margin: 10px 0;}
.your-booking{margin: 10px 0;}
.search-bar-dashboard {
    display: block;
    margin: 20px 0;
}
.search-bar-dashboard input[type="text"]{width: 100%;}
.time-and-place li{    padding: 5px 4px;}
.account-setting-content .col-sm-12{padding: 0;}
.hover-deta-img.team-build {
    margin: 15px;
    width: 91%;
}
.video-play-icon-cp {
    top: 33px;
    width: 113px;
}
section.serach-result {
    padding: 0 0;
}
.tab-design-function{margin: 20px 0;}
.watch-video{width: 80%;}
.play-video-icon {
    width: 80px;
    top: 33%;
}
.logo {
    width: 90px;
    margin: 0;
    padding: 20px 0 0;
    float: left;
    /* overflow: hidden; */
    position: absolute;
    top: 4px;
    z-index: 999;
    left: 0;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 5px 5px;
    margin-top: 13px;
    margin-right: 0;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
li.nav-item.dropdown{margin: 10px 0;padding: 0;}

.phone-img-boll img {
    width: 100%;
    margin: 10px 0;
    right: 0;
}
.date-game {
    padding: 0 10px;
    border-right: none;
    text-align: left;
    display: table-cell;
    /*height: 175px;*/
    vertical-align: middle;
	height: auto;
    float: left;
}
.number-player {
	margin: 0 5px;
}

.date-game h2 {
    font-size: 5rem !important;
}
.sign-in-form label.control-label {
    background-color:#252527;
}
.sign-up-form label.control-label {
    background-color: #252527;
}
.left-pannel img {
    width: auto;
    /* height: 100%; */
}
.filter_vailue {
    background-position: 0px 9px;
    margin: 10px 0;
}
.detail-share-buttons ul {
    padding: 0;
}
.right-team-spot{overflow: visible;padding: 20px 0;}
.balance {
    margin: 0 9px;
}
.hedding-comments p {
    font-size: 1.8rem;
    line-height: 25px;
}
button.submit {
    margin: 0 0 20px;
}

.panel-title span {
    font-size: 1.6rem;
}
.account-setting-content .col-sm-6 {
    padding: 0;
}
.right-account-setting li {
    width: 24.4%;
}
.right-account-setting .nav>li>a{font-size: 1.2rem;}
li.icon-img {
    display: inline-block;
}
.box-vailue{width: 100%;}
.hero{top: 54%;}
.content-carousel-item span {
    font-size: 2rem !important;
}
li.nav-item.andro-phone {
    display: inline-block;
    float: left;
}
li.nav-item.i-phone {
    display: inline-block;
    float: left;
}
.findmore {
    background-color: #c80000;
    padding: 15px 18px;
    border-radius: 5px;
    line-height: 6;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
}
.img-text p {
    margin: 0 5px;
    line-height: 18px;
}
.img-upcome {
    height: 20px;
    width: 20px;
    float: left;
}
.mutliSelect ul li{width: 100%;}
.map-toggle-button {
    display: inline-block;
    float: left;
    position: relative;
    top: 0;
    right: -10px;
}
<<<<<<< HEAD
.descriptiontitle{
    margin-top:90px;
}
=======
.game-img {
    padding-bottom: 7px;
}
.drop-down-icon-filter{right: 0;}
>>>>>>> e688b2800553a1d1999eb22f372c95f30412a44c
section.form-contact {
    margin: 20px 0;
}
.video-detail {
    position: relative;
    margin-bottom: 20px;
}
head-challange {
    padding: 0 15px;
}
section.sports-challanges {
    margin: 30px 0 0;
}
button.custom-upload {
    padding: 13px 6px;
    right: 17px;
}
.intrest-checkbox label {
    font-size: 1.2rem;
}
.intrest-checkbox .styled-checkbox + label:before {
    height: 14px;
    width: 14px;
}
.intrest-checkbox .styled-checkbox:checked + label:after{height: 3px;width: 3px;}
button.search {
    padding: 17px 0;
    font-size: 1.2rem;
}
.search-fields button.search {
    padding: 17px 0;
    font-size: 12;
    float: left;
    width: 21%;
}
.search img{display: none;}
.datebox {
    width: 122px;
}
.venu-tabbar {
    padding: 0 15px;
}
.discription {
    padding: 0 15px;
}
.account-setting-content h3 {
    margin: 15px;
}
.location {
    padding: 0 15px;
}
.logo-foot {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
footer {
    padding: 50px 0 0;
}
footer .buttons-playstore {
    display: block;
    float: none;
}
.image-phone {
    position: relative;
    right: 0;
    width: auto;
        top: 11px;
}
.right-header {
    overflow: hidden;
    position: absolute;
    top: 17px;
    right: 73px;
    z-index: 999;
    top: 27px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 1rem;
    padding: 0;
}
ul.navbar-nav.phone-nav{display: none;}
.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3 {
    height: auto;
    background-size: cover;
    background-position: 0 0;
    height: 290px !important;
}
nav.navbar.navbar-light.bg-light.justify-content-between {
    padding: 20px 0;
}
.time h2{
    font-size: 14px !important;
}
.login-signup a{font-size: 12px;}
button.edit-profile-button {
    padding: 9px 19px;
    position: relative;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 14px;
    margin: 20px 0;
}
.selectcity-town {
    width: 54%;
}
.dropdown-menu{
    float: none;
    position: relative;
}
.design-list {
    height: auto;
    display: block;
    width: 100%;
}
.blocks-children .block-img {
    height: auto;
}
.selectcity-town input[type="text"]{height: 40px;}
.select-coaching select{height: 40px;}
.search-fields button.search{height: 40px;}
.login-signup.mr-auto {
    margin: 0;
}
.video-detail iframe {
    width: 100%;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
	left: 0;
    margin: 24px 0px 0px 10px;
    padding: 0px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
	right: 0;
    padding-right: 10px;
    margin: 24px 0px 0px 0px;
}
.fa-inverse {
    background-color:transparent;
	padding: 0px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 0px;
}
.fa-stack-1x {
    display: inline-flex;
}
}
/*-------------------------------------------------------*/
/* When the browser is between 0px and 480px wide,below css will be applied.
/*-------------------------------------------------------*/

@media screen and (max-width: 480px) {
    button.ios{    padding: 7px 0 !important;margin: 10px 0;width: 48%; font-size: 12px;}
button.android{width: 48%; padding: 7px 0 !important; font-size: 12 px;}
.filter_vailue {
    background-position:8px 9px;
    margin: 16px 0;
    width: 100%;
}
.serach-result .filter_vailue {
    background-position: 0px 9px;
    margin: 16px 0;
    width: 100%;
}
footer button.ios {
    width: 44%;
}
footer button.android {
    width: 44%;
}
section.video-vanue{min-height: 200px !important;}
.opening-hours {
    margin-top: 20px;
}
section.opening-time {
    margin: 20px 0;
}
 .hover-deta-img {width: 88%;}

.selectfilter {
    width: 100%;
}
h1.hedding-detail{top:67px;}
.datebox {
    width: 86%;
}
section.search-detail {
    margin: 40px 0 20px;
}
section.corporate-sports-day {
    margin: 40px 0 20px;
}
.head-challange {
    padding: 0 15px;
}
.left-detail-section .img-responsive, .left-detail-section .thumbnail>img, .left-detail-section .thumbnail a>img, .left-detail-section .carousel-inner>.item>img, .left-detail-section .carousel-inner>.item>a>img {
    height: 289px;
}
.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3{
    height: 245px !important;
}
.select-date {
    display: block;
    float: left;
    width: 100%;
}
ul.time-and-place {
    padding: 0;
    display: flex;
}
.time-and-place li {
    font-size: 11px;
    margin: 0 2px;
    padding: 4px 5px;
}
.design-list .col-xs-9{padding: 0 5px;}
.search-fields button.search {
    padding: 14px 0;
}
.select-coaching select {
    padding: 13px 0px;
}
.selectcity-town input[type="text"] {
    padding: 15px 10px;
    margin: 0;
    font-size: 10px;
}
.abot-us-content h1 {
    margin: 30px 0;
}
.descriptiontitle{
    margin-top:90px;
}
.game-img {
    padding-bottom: 8px;
}
p.player-name, p.player-about {
	font-size: 13px !important;
    text-align: left !important;
}
}
/*-------------------------------------------------------*/
/* When the browser is between 767px and above wide,below css will be applied.
/*-------------------------------------------------------*/

