
 body {
     color: #73848e;
     
     margin: 0px;
     padding: 0px;
     padding-right: 0px !important;
     overflow-x: hidden;


}
*::selection {
  background-color: #c80000;
  color: #fff;
}

a:hover, a:focus {
    color: inherit !important;
    text-decoration: none;
}
 @font-face {
     font-family: 'Material Icons';
     font-style: normal;
     font-weight: 400;
     src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/micon.woff2') format('woff2');
}
 .material-icons {
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     font-size: 24px;
     line-height: 1;
     letter-spacing: normal;
     text-transform: none;
     display: inline-block;
     white-space: nowrap;
     word-wrap: normal;
     direction: ltr;
     -webkit-font-feature-settings: 'liga';
     -webkit-font-smoothing: antialiased;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: 'Poppins', sans-serif;
     color: #000;
     font-weight: 800;
     margin-top: 0px;
     margin-bottom: 0px;
}
p, a, li, span, label, tr, td, th, input {
    color: #252527;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
 small, .small {
     font-size: 13px;
}
.img-add-here {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}
 a {
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     outline: none;
}
 a:hover {
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
.p-0{padding: 0;}
.hidden-xs{display: block}
.visible-xs{display: none;}
h1{
    font-size: 65px;

}
h2{
    font-size: 55px;
}
h3{
    font-size: 45px;
}
h4{
    font-size: 25px;
}

    @-webkit-keyframes autofill {
      to {
        color: #fff;
        background: transparent;
      }
    }
    
    input:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
    }
/*--=================== dir1 =======================--*/
/*index-page-css-start*/
section.header_section {
    background-color: #000;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 999;
}
section.header_section.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    /* animation-name: slideDown;
    -webkit-animation-name: slideDown;  

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;     */

    visibility: visible !important;       
}
section.dashboard-header.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    animation-name: slideDown;
    -webkit-animation-name: slideDown;  

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    

    visibility: visible !important;   
    z-index: 999;    
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }           
    100% {
        transform: translateY(0%);
    }       
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }
    65%{
        -webkit-transform: translateY(-4%);
    }
    80%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(-2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}
.when-and-where h2 {
    font-size: 30px;
    color: #282d32;
}
.when-and-where h4 {
    font-size: 20px;
    color: #282d32;
}
.why-join p {
    text-transform: uppercase;
    font-size: 18px;
     color: #3e3d3d;
}
.logo {
    width: 220px;
    margin: 0 auto;
    padding: 10px 0 0;
}
.logo img{width: 100%;}
.navbar {
    background-color: #000!important;
    border: none;
}
a.dropdown-item {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
}
.header_section .dropdown-menu {
    padding: 15px 10px;
}
.header_section a.dropdown-item {
    padding: 5px 6px;
    font-size: 1.3rem;
}
.header_section a.dropdown-item:hover {
    background-color: #000;
    color: #ff0707  !important;
}
li.nav-item.dropdown {
    background: url(../images/icons/drop-down-icon.png);
    background-repeat: no-repeat;
    padding: 0 4px;
    background-position: right;
    background-size: 8px;
}

a.navbar-brand {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 1.4rem;
    margin-right: 0;
    padding: 0;
    height: auto;
    font-weight: 800;
}
.navbar-nav>li {
    float: left;
    display: inline-block;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #c80000;
    background-color: transparent;
}
.navbar-light .navbar-brand:hover{color: #df0000;}
..navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
    padding: 7px;
    height: auto;
}

.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size:1.43rem;
    padding: 9px;
    height: auto;
    font-weight: 800;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    padding: 0;
}
.header_section .navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1) !important;
    }
    .description-left h2 {
    font-size: 3.2rem;
    margin-bottom: 20px;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #df0000 !important;
  text-decoration: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-brand img{
    margin: 0 5px 0 0;
    padding: 2px 0px 0px 8px;
    width: auto !important;
}
.left-right-padding {padding: 0 5px !important;}
.login-signup a {
    color: #df0000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.top-header {
    position: relative;
}
.login-signup li {
    display: inline-block;
    border-right: 1px solid #333;
    padding: 0 7px;
    line-height: 14px;
}
.login-signup li:last-child {
    border: none;
}
.navbar img {
    margin: 0 7px;
    width: 16px;
    float: left;
}
.search img {
    margin: 0 7px;
    width: 16px;
}
.login-signup.mr-auto {
    display: inline-block;
    float: left;
    margin: 5px 0px;
}
.right-header {
    overflow: hidden;
    position: absolute;
    top: 20px;
    right:0;
}
.navbar-nav {
    padding: 0;
}
li.nav-item.andro-phone {
    width: 20px;
    margin: 1px 10px;
}
li.nav-item.i-phone {
    width: 20px;
    margin:-1px 0px 0px 5px;
}
.navbar {
    position: relative;
    min-height: auto;
    margin-bottom: 0;
    border: 1px solid transparent;
    padding: 10px 0;
    border-radius: 0;
}
form.form-inline {
    display: inline-block;
    float: right;
}
.carousel-control-prev-icon{background: none;}
.carousel-control-next-icon{background: none;}

.play_icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.play_icon img{width: 100%;}
.content-carousel-item h2 {
    font-size: 40px !important;
    color: #fff;
    font-weight: lighter;
    line-height: 2;
    font-weight: 500;
}
.mail-icon{margin-top: 5px !important;}
.content-carousel-item h1 {
    font-size: 68px !important;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1 !important;
}
.content-carousel-item span {
    font-size: 55px !important;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}
.search .navbar-brand {
    font-size: 48px;
    color: rgba(255,255,255,1) !important;
    font-weight: 800;
    line-height: 74px;
}
.search .form-control {
    padding: 0 2rem;
    font-size: 20px;
    width: 44rem;
    height: 75px;
    color: #000; 
}

.search .btn.btn-outline-success {
    background-color: #c80000;
    border: 1px solid #c80000;
    color: #fff;
    padding:26px 30px 25px 25px;
    margin: -6px;
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
/*slider-css-start*/
.carousel-control          { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;opacity: 1;}
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -100%; }
  .carousel-inner .next        { left:  100%; }
  .carousel-inner .prev    { left: -100%; }
  .slider .active > div { display:none; }
  .active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .next        { left:  50%; }
  .carousel-inner .prev    { left: -50%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
  .carousel-inner .active.left { left: -16.7%; }
  .carousel-inner .next        { left:  16.7%; }
  .carousel-inner .prev    { left: -16.7%; }  
  .player-list li {
    display: inline-block;
    margin: 0 3px 0 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
}
/*slider-css-end*/
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: auto;
}
.fade-carousel .carousel-inner .item {
    height: auto;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    width: 100%;
}
/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: auto;
  background-size: cover;
  background-position: 0 -142px;
  background-repeat: no-repeat;
  height: 540px !important;
}
.img-text .img-upcome img {
    width: 100% !important;
    height: auto;
}
/*.fade-carousel .slides .slide-1 {
  background-image: url(../images/banner1.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../images/banner1.jpg); 
}
.fade-carousel .slides .slide-3 {
  background-image: url(../images/banner1.jpg); 
}*/

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
section.about_us {
    padding: 50px 0;
}
.abot-us-content h1 {
    margin-bottom: 30px;
}
.about_us {
    background-image: url(../images/playing-men.png);
    background-repeat: no-repeat;
    background-position: -118px 10px;
    background-size: 23%;
}
.slider .col-md-3.col-sm-6.col-xs-12 {
    padding: 0;
}
.video-section {
    width: 55%;
    margin: 0 auto;
    position: relative;
}
.form-control option {
    text-transform: capitalize;
}
.video-section img{
  width: 100%;
}
.play-video {
    width: 150px;
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.abot-us-content p {
    font-size: 18px;
    line-height: 1.5;
    margin: 26px 0 0;
    color: #3e3d3d;
    width: 90%;
    margin: 0 auto;
}
.why-join-us {
    background-image: url(../images/golf-men.png);
    background-repeat: no-repeat;
    background-position: right 30px;
    background-size: 20%;
    padding: 50px 0 0;
}
.image-phone img{width: 100%;}
ul.join-resion {
    padding: 0;
    width: 70%;
}
.join-resion li {
    list-style-type: none;
    margin: 0;
    background-image: url(../images/icons/play-icon.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 3px 0;
    padding: 1px 0 20px 49px;
    font-size: 16px;
     color: #3e3d3d;
}
.learn-more {
    background-color: #c80000;
    border: none;
    font-size: 14px;
    color: #fff;
    padding: 18px 23px;
    font-weight: 700;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 8px 0;
}
.form-control::-webkit-input-placeholder { /* Edge */
  color: #000;
}
.sign-up-form .form-control::-webkit-input-placeholder { /* Edge */
  color: rgba(255,255,255,0.15);
  font-size: 14px;
}
.sign-in-form .form-control::-webkit-input-placeholder { /* Edge */
  color: rgba(255,255,255,0.15);
  font-size: 14px;
}
.comment .form-control::-webkit-input-placeholder { /* Edge */
  color: #cccccc;
  font-size: 16px;
}
.edit-content .form-control::-webkit-input-placeholder { /* Edge */
  color: #cccccc;
  font-size: 16px;
}
.datebox::-webkit-input-placeholder { /* Edge */
  color: #a1b1c1;
  font-size: 14px;
  text-transform: uppercase;
}
.basicstatus-hedding p {
    font-size: 18px;
    text-transform: uppercase;
}
.basic-status {
    background-image: url(../images/rv-player.png);
    background-repeat: no-repeat;
    background-position: -110px 118px;
    background-size: 24%;
    padding: 70px 0 50px;
}
.total-game {
    background-color: #c80000;
    padding: 99px 20px 0;
    border-radius: 10px;
    text-align: center;
    height: 392px;
}
.total-game h2 {
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
}
.total-game h1 {
    font-size: 3rem;
    color: #fff;
    line-height: 2;
    letter-spacing: 8px;
}
.total-game p {
    color: #fff;
    font-size: 24px;
    letter-spacing: 6px;
}
.head-section-status h2 {
    font-size: 22px;
    text-align: center;
    line-height: 33px;
    color: #47595a;
    text-transform: uppercase;
}
.content-status {
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 10px;
    height: 392px;
    padding: 10px;
}
.head-section-status {
    padding: 0 0 10px;
    border-bottom: 1px solid #ddd;
}

.content-status ul {
    padding: 0;
}
.content-status li {
    list-style-type: none;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.content-status li:last-child{border: none;}
.content-status h3 {
    font-size: 15px;
    color: #47595a;
    line-height: 20px;
    text-transform: uppercase;
}
.basicstatus-hedding h1 {
    font-size: 55px;
}
.content-status p {
    font-size: 13px;
    line-height: 18px;
}
.content-status img {
    border-radius: 5px;
    height: 70px;
    width: 70px;
}
.content-status span {
    display: block;
    font-size: 13px;
    line-height: 0;
    color: #b7b5b5;
}

.basicstatus-hedding.text-center {
    margin: 0 0 50px;
}
section.app-store {
    background-image: url(../images/boll-net.png);
    background-repeat: no-repeat;
    background-position: right 267px;
    background-size: 19%;
    padding: 70px 0;
}
.download-now h3 {
    font-size: 3.5rem;
    color: #c80000;
    margin-bottom: 10px;
}
.download-now h1 {
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 30px;
}
button.ios {
    background: linear-gradient(200deg,#6b32ef,#8841f5);
    border: navajowhite;
    font-size: 1.8rem;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    margin-right: 17px;
}
footer button.ios {
    background: linear-gradient(200deg,#6b32ef,#8841f5);
    border: navajowhite;
     font-size: 14px;
    padding: 7px 10px 5px 0;
    border-radius: 20px;
    color: #fff;
    margin: 0;
    font-weight: 700;
}
button.android {
    background: linear-gradient(200deg,#d680d7,#b190ef);
    border: navajowhite;
    font-size: 1.8rem;
    padding: 10px 34px;
    border-radius: 20px;
    color: #fff;
}
footer button.android {
    background: linear-gradient(200deg,#d680d7,#b190ef);
    border: navajowhite;
    font-size: 14px;
    padding: 7px 10px 5px 0;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
}
.search-detail button.android {
    background: linear-gradient(200deg,#d680d7,#b190ef);
    border: navajowhite;
    font-size: 14px;
    padding: 10px 17px;
    border-radius: 20px;
    color: #fff;
}
.search-detail button.ios {
    background: linear-gradient(200deg,#6b32ef,#8841f5);
    border: navajowhite;
    font-size: 14px;
    padding: 10px 17px;
    border-radius: 20px;
    color: #fff;
    margin-right: 0;
}
h2.name {
    font-size: 36px;
    font-weight: 800;
    color: #282d32;
}
.phone-img-boll img {
    width: 100%;
    position: relative;
    right: 55px;
}
footer {
    background-image: url(../images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0 0;
}
.logo-foot {
    width: 236px;
    height: 213px;
    margin: 0 18% 15px;
}
.logo-foot img {
    width: 100%;
    position: relative;
    left: -22px;
}
h3.menu-heading {
    color: #fff;
    font-size: 34px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer-menu ul {
    padding: 0;
}
.footer-menu li {
    list-style-type: none;
    margin: 8px 0;
    background: url(../images/icons/footer-list-icon.png);
    background-repeat: no-repeat;
    padding-left: 22px;
    background-position: 0;
}
.footer-menu li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
.bottom-footer p {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    width: 76%;
    margin: 0 auto;
    text-align: left;
    padding: 0 93px;
}

footer .buttons-playstore {
    display: inline-block;
   
}
.bottom-footer {
    padding: 20px 0 10px;
    border-top: 1px solid #fff;
    margin-top: 150px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next  {
    margin-right: 38px;
    width: 60px;
    height: 60px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    width: 60px;
    height: 60px;
}
.glyphicon-chevron-right:before{display: none;}
.glyphicon-chevron-left:before{display: none;}
.ios img {
    width: 18px;
    margin: 0px 10px;
    position: relative;
    top: -2px;
}
.android img {
     width: 18px;
    margin: 0px 10px;
}
.why-join {
    padding: 20px 0 30px;
}
/*index-page-css-end*/

/*Date-31-07-19--Sign-in-page-css-start*/
.left-pannel {
    width: 50%;
    float: left;
    height: auto;
}
.left-pannel img{
  width: 100%;
  height:auto;
}
.right-pannel {
    width: 50%;
    float: left;
    background-color: #252527;
    height: auto;
    padding: 20px 40px;
}
img.back-arrow-sign {
    width: 25px;
    position: relative;
    top: 9px;
    left: -26px;
}
.sign-in-logo {
    /* width: 185px; */
    float: left;
    margin: 0 60px 30px;
}
.sign-in-logo img {
    width: 200px;
}
.signin-top-section img {
    float: left;
}
.sign-in-form {
    margin-top: 65px;
}
.sign-in-form h1 {
    color: #fff;
}
.sign-in-form h1 {
    color: #fff;
    margin-bottom: 40px;
    position: relative;
    font-size: 34px;
}
.sign-in-form h1:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -11px;
    width: 60px;
    height: 3px;
    background: #fff;
}
.sign-in-form input.form-control {
    width: 72%;
    background: transparent;
    font-size: 1.2rem;
    position: relative;
    color: #fff;
    height: 40px;
}
.sign-in-form label.control-label {
    position: absolute;
    top: -10px;
    left: 14px;
    font-size: 14px;
    background-color: #252527;
    z-index: 999;
    color: #fff;
}
.sign-in-form .form-group {
    margin-bottom: 30px;
    position: relative;
}
button.sign-in-here {
    background-color: #c80000;
    border: none;
    padding: 16px 35px;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 800;
}
span.or {
    color: #fff;
    font-size: 1.3rem;
    margin: 0 10px;
        text-transform: uppercase;
}
.sign-in-fb {
    background-color: #3d5998;
    border: none;
    padding: 15px 14px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 800;
}
.sign-in-fb img {
    width: 10px;
    margin: 7px 16px 7px 0;
}
p.no-account {
    font-size: 1.4rem;
    color: #fff;
    margin-top: 20px;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px solid;
}       
p.no-account a {
    font-size: 1.4rem;
    color: #fff;
    border-bottom: 1px solid #fff;
}
p.no-account a:hover{
    color: #c80000 !important;
}
p.forgot-pass a{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
}
p.forgot-pass a:hover{
    color: #c80000  !important;
}
/*Date-31-07-19--Sign-in-page-css-end*/
/*Date-31-07-19--Sign-up-page-css-start*/
.sign-up-form {
    margin-top: 0px;
}

.sign-up-form h1 {
    color: #fff;
}
.sign-up-form h1 {
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    font-size: 30px;
}
.sign-up-form input.form-control {
    width: 72%;
    background: transparent;
    font-size: 12px;
    position: relative;
    color: #fff;
    height: 40px;
}
.welcome-back h2 {
    font-size: 34px;
    color: #282d32;
}
p.somerset {
    font-size: 16px;
}
.sign-up-form label.control-label {
    position: absolute;
    top: -10px;
    left: 14px;
    font-size: 14px;
    background-color: #252527;
    z-index: 999;
    color: #fff;
}
.sign-up-form .form-group {
    margin-bottom: 22px;
    position: relative;
}

.tag-line-heading {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
}
.rc-anchor-normal {
    background: transparent !important;
    color: #000;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.mutliSelect input[type="checkbox"] {
    margin: 4px 5px 0 5px;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: rgba(255,255,255,0.15);
    text-transform: capitalize;
}
.tnc a {
    color: rgba(255,255,255,0.15) !important;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}
.styled-checkbox + label span{
  font-size: 1rem;
    border-bottom: 1px solid;
    text-transform: uppercase;
}
.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    /* vertical-align: text-top; */
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid;
}
.styled-checkbox:hover + label:before {
  background: transparent;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
    background: transparent;
}
.styled-checkbox:disabled + label {
  color: transparent;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 6px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.form-group.last-field{
  margin-bottom: 10px !important;
}
.captcha {
    margin-bottom: 26px;
    border-radius: 5px;
    position: relative;
}
.captcha img {
    float: right;
    width: 30px;
}
/*Date-31-07-19--Sign-up-page-css-end*/
/*Date-31-07-19--Search-result-page-css-start*/
section.serach-result {
    padding: 20px 0 0;
}
.book-pitch{
  background-color: #f0f0f0;
}
button.enquire-here {
    background-color: #c80000;
    border: none;
    padding: 6px 24px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}
.modal-backdrop.in{opacity: 0.8}
.modal-content {
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: none;
}
.modal-title{color: #fff;font-size: 3.4rem;}
.modal-header{text-align: center;border: none;}
.modal-header p{color: #fff;}
.modal-body.sign-in-form input.form-control {
    width: 100%;
}
.modal-body.sign-in-form label.control-label{background-color: #333333;}
.modal-content button.close {
    height: 30px;
    width: 30px;
    background-color: red;
    position: absolute;
    right: -15px;
    top: -13px;
    /* z-index: 9999999; */
    border-radius: 50%;
    opacity: 1;
    color: #fff;
}
.modal-header span {
    color: #fff;
    margin-top: -3px;
    display: block;
    font-size: 20px;
}
.modal-body.sign-in-form {
    margin-top: 0;
}
.section-headding {
    text-align: center;
}
.section-headding h1 {
    font-size: 4rem;
    font-weight: 300;
    color: #282d32;
    margin-bottom: 40px;
}
.section-headding h1 span {
    font-size: 5rem;
    font-weight: 700;
    color: #282d32;
}
input.form-control.accordion--form__text.required {
    position: absolute;
    width: 120px;
    top: -5px;
    visibility: visible;
    z-index: 999;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    left: 19px;
    padding: 0;
    font-size: 1.5rem;
    opacity: 0;
}
.custom-date-design p {
    display: inline-block;
    font-size: 1.4rem;
    padding: 2px 5px;
    position: relative;
    top: 2px;
    color: #a1b1c1;
}
.filter_vailue ul li {
    padding: 5px 10px;
    z-index: 2;
    color: #a1b1c1;
    font-size: 1.4rem;
    text-transform: uppercase;
    width: 123px;
    font-weight: 600;
}
.filter_vailue ul li:not(.init) {  width: 130px; display: none; background: #ddd; }
.filter_vailue ul li:not(.init):hover, ul li.selected:not(.init) { background: #09f; }
.filter_vailue li.init { cursor: pointer; }

.filter_vailue a#submit { z-index: 1; }
.select-date {
    display: inline-block;
    float: left;
    margin: 12px 0px;
}
.filter_vailue {
    background: url(../images/icons/filter-icon.png);
    display: inline-block;
    float: left;
    position: relative;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 24px;
    background-position: 7px 9px;
    margin:12px 0px 0px 25px;
}
.drop-down-icon-filter {
    position: absolute;
    top: 13px;
    right: -12px;
    height: 10px;
    width: 10px;
    background: url(../images/icons/drop-down-icon.png);  
    background-repeat: no-repeat;
}
.drop-down-icon-filter-corporate {
    position: absolute;
    top: 18px;
    height: 10px;
    width: 10px;
    left: 25px;
    background: url(../images/icons/list-icon.png);  
    background-repeat: no-repeat;
}
ul.list-unstyled {
    width: 70px;
}
.map-toggle-button {
    display: inline-block;
    float: right;
    position: relative;
    top: 10px;
}
.map-toggle-button p {
    display: inline-block;
    font-size:1.3rem;
    padding: 2px 5px;
    position: relative;
    top: 2px;
    color: #a1b1c1;
    font-weight: 700;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-button {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-button:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-button {
  background-color: #0e2f00;
}

input:focus + .slider-button {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-button:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-button.round {
  border-radius: 34px;
}

.slider-button.round:before {
  border-radius: 50%;
}
.map-sports {
    display: none;
    margin: 30px 0;
}
.map-sports img {
    width: 100%;
}
.design-list {
    overflow: hidden;
    background-color: #f0f0f0;
    margin: 20px 0;
    border: 1px solid #e6e6e6;
    display: flex;
    height: 185px;
}
.game-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.date-game {
    padding: 30px 30px;
    border-right: 1px solid #ccc;
    margin-top: 20px;
    text-align: center;
}
.date-game h2 {
    color: #c80000;
    font-size: 6rem;
    font-weight: 800;
}
.pro-info h2 {
    color: #282d32;
    font-size: 24px;
    margin: 10px 0;
}
.date-game span {
    display: block;
    color: #c80000;
    text-transform: uppercase;
    font-size: 1.8rem;
}
.info-game {
    padding:20px 16px;
}
.info-game p {
    color: #667380;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 10px;
}
.balance h2 {
    font-size: 22px;
    color: #282d32;
}
.info-game p img {
    margin: -4px 12px 0 0;
}
.input-group-btn {
    vertical-align: top;
}
.input-group-btn select.btn {
    padding: 15px;
    background-color: transparent;
    border: 1px solid #ccc;
}
ul.time-and-place {
    padding: 0;
}

.time-and-place li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    background-color: #e7e6e6;
    padding: 5px 13px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 300;
    color: #575f64;
}
.time-and-place img {
    margin: 4px;
    position: relative;
}
.dis-game {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
}
.dis-game img{
    padding-right: 10px;
}
.dis-game p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
}
.follow-venue ul {
    padding: 0;
}
.follow-venue li {
    display: inline-block;
    /* margin: 0 7px; */
}
li.price-book {
    color: #c80000;
    font-size: 1.8rem;
    font-weight: 700;
}
.number-player {
    background-color: #c80000;
    font-size: 1.4rem;
    padding: 1px 12px;
    color: #fff;
    margin: 0 10px;
    border-radius: 3px;
}
button.follow {
    font-size: 1.3rem;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 4px 10px;
}
/*Date-31-07-19--Search-result-page-css-end*/
/*Date-31-07-19--Search-detail-page-css-start*/
.banner-detail {
    background: url(../images/detail-page-baner.jpg);
    background-repeat: no-repeat;
    height: 320px;
    background-size: cover;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{background-color: #000;}
h1.hedding-detail {
    text-align: center;
    color: #fff;
    font-size: 65px;
    text-transform: uppercase;
    /* margin-top: 30px; */
    position: relative;
    top: 105px;
}
/*crousel-css-start*/

.carousel {
margin-top:0;
margin-bottom: 0;
overflow:hidden;
}
.carousel-link .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
    /* margin: 10px 14px 0 0; */
    height: 114px;
    padding: 10px 14px 0 0;
    flex: 1;
}
.carousel-link .thumb:last-child{padding: 10px 0 0 0;}
.carousel-link .thumb img {
    width: 100%;
    margin: 1px;
    margin-top: 2px;
    height: 100%;
    object-fit: cover;
}
.carousel-link .thumb:first-of-type img {
margin-left: 0;
}
.carousel-link .thumb:last-of-type img {
margin-right: 0;
}
.responsive {
position:relative;
    width:100%;
}
.banner-detail-info {
position:absolute;
    color:#fff;
    margin-top:19%;
width:100%;
z-index:1;
}
.banner-line {
background-color:#fff;
width:80%;
height:1px;
display:block;
border:0;
}
.banner-detail-info p {
color:#fff;
font-family:lato;
font-size:1.7em;
text-shadow:1px 1px 1px 1px #999;
margin-right:auto;
margin-left:auto;
line-height:20px;
width:80%;
margin-top:-10px;
margin-bottom:-10px;
}
#home {
    width:100%;
    background-color:#fff;
}
#game {
    width:100%;
    height:100vh;
}
#pitcher {
width:100%;
    height:100vh;
    background-color:#6083D4;
    color:#fff;
}
#press {
    width:100%;
    height:100vh;
}
#media {
width:100%;
    height:100vh;
    background-color:#6083D4;
    color:#fff;
}
/*crousel-css-end*/
section.search-detail {
    margin: 80px 0;
}
.banner-detail-info ul {
    padding: 0;
    text-align: center;
}
.banner-detail-info li {
    display: inline-block;
    width: 100px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    margin: 0 30px;
    height: 100px;
    /* color: #fff; */
    /* font-size: 2.8rem; */
    transform: rotate(45deg);
}
.banner-detail-info li h3{
  font-size: 3rem;
  color: #fff;
  transform: rotate(-45deg);
  margin: 20px 0;
}
.banner-detail-info li h3 span {
    font-size: 1.6rem;
    color: #fff;
    display: block;
}
.when-and-where {
    background-color: #ededed;
    padding: 20px;
}
.when-and-where ul {
    padding: 0;
    margin: 10px 0;
}
.when-and-where li {
    list-style-type: none;
    padding: 10px 0;
    overflow: hidden;
    border-bottom: 1px solid #d5d5d5;
}
.when-and-where li p {
    font-size: 14px;
    margin: 8px 0;
    display: inline-block;
}
.description-left h2 {
    font-size: 33px;
    margin-bottom: 20px;
    color: #282d32;
}
.online-text{color: #c80000;}
.when-and-where li:last-child{border: none;}
button.pay-now {
    width: 100%;
    padding: 10px 0;
    background: #c80000;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
button.register-intrest {
    width: 100%;
    padding: 10px 0;
    background: #000;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.dounload-app-here h2 {
    font-size: 2rem;
    margin: 10px 0;
}
.left-detail-section .img-responsive, .left-detail-section .thumbnail>img, .left-detail-section .thumbnail a>img, .left-detail-section .carousel-inner>.item>img, .left-detail-section .carousel-inner>.item>a>img{height: 450px;}
.description-left h3 {
    font-size: 2.4rem;
    margin: 0 0 20px;
    color: #282d32;
}
.hedding-comments h1 {
    font-size: 40px;
    color: #282d32;
}
.right-team-spot h2 {
    font-size: 20px;
    margin: 0 0 20px;
    color: #282d32;
}
.description-left h3 {
    font-size: 2.4rem;
    margin: 0 0 20px;
}
.right-team-spot {
    background-color: #ededed;
    padding: 20px;
    text-align: center;
        overflow: hidden;
}
.right-team-spot h2 {
    font-size: 2rem;
    margin: 0 0 20px;
}
.join-game {
    background-color: #c80000;
    border: none;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 5px;
    padding: 4px 15px;
}
.leave-game {
    background-color: #FFC107;
    border: none;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 5px;
    padding: 4px 15px;
}
p.player-name {
    display: inline-block;
    float: left;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: 4px;
    font-size: 1.3rem;
}
.player-img img {
    width: 100%;
}
.player-img {
    height: 35px;
    width: 35px;
    float: left;
    border-radius: 50%;
    margin: 0 5px;
    overflow: hidden;
}
.team-players {
    overflow: hidden;
    margin: 20px 0;
}
p.video-info {
    margin-top: 20px;
}
p.player-about {
    font-size: 1rem;
    position: relative;
    top: 3px;
    text-align: left;
    display: block;
    clear: both;
    color: #000;
    opacity: 0.5;
}
.plyer-team {
    overflow: hidden;
    margin: 8px 0;
}
.invite-friend {
    margin: 20px 0;
}
button.your-friend {
    background-color: #174a97;
    border: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 10px 0;
}
.detail-share-buttons {
    display: inline-block;
}
.detail-share-buttons li {
    display: inline-block;
    margin: 0 5px;
}
.profile-img-post {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.profile-img-post  img{width: 100%;}
section.detail-video {
    margin: 50px 0;
}
.video-play-icon {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 150px;
    margin: 0 auto;
}
.video-detail {
    position: relative;
}
.video-play-icon img {
    width: 100%;
}
.video-detail img {
    width: 100%;
}
.video-info{text-align: center;margin: 20px 0; font-size: 1.7rem;}
.hedding-comments p {
    font-size: 1.8rem;
    line-height: 45px;
}
.comment-section {
    overflow: hidden;
    padding-top: 30px;
}
.comment-section p {
    font-size: 1.4rem;
    line-height: 2;
}
a.reply-comment {
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}
.comment-box {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.comment-form{margin: 30px 0;}
.comment input.form-control {
    height: 50px;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 30px;
	 /*   float: left;*/
}
.comment select.form-control {
    height: 50px;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.comment label.control-label {
    position: absolute;
    top: -8px;
    left: 39px;
    background-color: #fff;
    font-size: 14px;
}
.textarea{height: 120px !important;}
button.submit {
    background-color: #c80000;
    border: navajowhite;
    color: #fff;
    padding: 15px 49px;
    border-radius: 5px;
    font-size: 1.6rem;
    margin: 0 0 20px;
    font-weight: 800;
}
.invite-friend-model {
    width: 700px;
    max-width: 94%;
}
.alert-warning {
    margin: 15px 0;
}
.alert-success {
    color: #3e3e3e !important;
    background-color: #e8e8e8 !important;
    border-color: #d6e9c6;
    font-size: 1.9em !important;
    text-align: center !important;
}
.form-invite input[type="text"] {
    width: 60%;
    padding: 14px 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
}
.form-invite input[type="email"] {
    width: 60%;
    padding: 14px 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
}
button.invitefriend {
    background-color: red;
    border: navajowhite;
    padding: 14px 10px;
    border: 1px solid red;
    red: m;
    margin: 0 -4px;
    color: #fff;
    border-radius: 0 5px 5px 0;
}
form.form-invite {
    text-align: center;
    margin-bottom: 50px;
}
.invite-friend-model p {
    padding: 20px 0 0;
}
/*Date-31-07-19--Search-detail-page-css-end*/
/*Date-1-08-19--Contactus-page-css-start*/
.contact-map img {
    width: 100%;
}
section.form-contact {
    margin: 50px 0;
}
.heading-contact-form {
    text-align: center;
}

.heading-contact-form p {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 300;
}
.captcha.contact-captcha {
    overflow: hidden;
    margin: 22px auto;
    clear: both;
    width: 310px;
}
.findmore{
        background-color: #c80000;
    padding: 15px 25px;
    border-radius: 5px;
    line-height: 6;
    color: #fff;
        font-size: 20px;
        font-weight: 600;
}
.findmore:hover{
color: #fff;
}
.contact-captcha label {
    color: #000;
    font-size: 1.8rem;
    margin: 10px;
}
.contact-captcha img {
    width: 65px;
}
/*Date-1-08-19--Contactus-page-css-end*/
/*Date-1-08-19--RIGISTER-page-css-start*/
section.Register-your-session {
    margin: 80px 0;
}
.your-booking {
    background-color: #c80000;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.your-booking h2 {
    color: #fff;
    margin: 20px 0 0;
    font-size: 40px;
}
.your-session {
    background-color: #125b00;
    padding: 68px 50px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.your-session h2 {
    color: #fff;
    margin: 20px 0 0;
    font-size: 42px;
}
.contact-us-form {
    margin-top: 50px;
}
.booking-form{margin: 50px 0;}
.session-form{margin: 50px 0;}
.two-buttons-session {
    overflow: hidden;
}
.your-booking-info {
    text-align: center;
}
.your-booking-info h1 {
    font-size: 70px;
    margin-bottom: 30px;
}
.heading-contact-form h1 {
    font-size: 50px;
    margin-top: 18px;
}
.form-contact .heading-contact-form h1 {
    font-size: 60px;
    margin-top: 18px;
}
.your-booking-info p {
    font-size: 1.4rem;
    /* margin-bottom: 30px; */
    width: 70%;
    margin: 0 auto;
    line-height: 2;
}
.choose-file {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    margin: 0 0 20px;
}
input.file {
    opacity: 0;
    width: 100%;
    padding: 15px 0;
}
button.custom-upload {
    position: absolute;
    right: 0;
    top: 1px;
    padding: 13px 12px;
    background-color: #c80000;
    border: 1px solid #c80000;
    color: #fff;
}
.sign-here {
    height: 100px;
    width: 250px;
    margin: 20px auto;
    position: relative;
}
/*Date-1-08-19--RIGISTER-page-css-end*/
/*Date-1-08-19--children-page-css-start*/
.hedding-children {
    text-align: center;
    position: relative;
    top: 120px;
}
.hedding-children h1 {
    text-transform: uppercase;
    font-size: 6rem;
    color: #fff;
    margin-bottom: 10px;
}
.hedding-children h3 {
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}
section.available-at {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}
h2.available-hedding {
    color: #fff;
    text-transform: uppercase;
}
.available-at h2.available-hedding {
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
}
section.blocks-children {
    margin: 50px 0;
}
.block-img img {
    width: 100%;
    position: relative;
    object-fit: cover;
}
.block-img {
    position: relative;
    margin: 15px 0;
}
.blocks-children .block-img {
    position: relative;
    margin: 15px 0;
    height: 303px;
    display: flex;
}
.hover-deta-img {
    position: absolute;
    top: 0;
    bottom: 0;
    /* border: 1px solid #fff; */
    width: 92%;
    text-align: center;
    margin: 20px;
    padding-top: 100px;
}
.hover-deta-img h2 {
    font-size: 34px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}

.hover-deta-img p {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}
.hover-deta-img-crousel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 100px;
}
.hover-deta-img-crousel h2 {
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}
.hover-deta-img-crousel p {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}
.image-phone {
    position: relative;
    right: 48px;
    width: 700px;
}   
.button-group {
    margin: 20px 0 0;
}
button.enq {
    background-color: #c80000;
    color: #fff;
    border: none;
    padding: 8px 25px;
    border-radius: 3px;
    font-weight: 700;
    text-transform: uppercase;
}
button.more-info {
    background-color: #e7e6e6;
    color: rgba(0,0,0,0.5);
    border: none;
    padding: 7px 25px;
    border-radius: 3px;
    border: 1px solid #b7b5b5;
    font-weight: 700;
    text-transform: uppercase;
}
.addres-vanue {
    overflow: hidden;
    margin: 20px 0;
}
.vanue-facilities img {
    margin: 0 10px 0 0;
}
.vanue-facilities h3{
    font-size: 26px;
}
.watch-video {
    width: 50%;
    margin: 0 auto;
    position: relative;
}
.play-video-icon {
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 38%;
}
.play-video-icon img{width: 100%;margin-top: 0 !important;}
.watch-video img {
    width: 100%;
    margin-top: 10px;
}
section.video-vanue {
    background: url(../images/vanu-video-backround.png);
    background-repeat: no-repeat;
    background-position: center 0;
    padding: 100px 0;
    background-size: contain;
}
ul.social {
    padding: 0;
    text-align: center;
}
.social li {
    list-style: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
.social li span {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.social img {
    width: 15px;
    margin: 0 5px;
}
.video-vanue p {
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    margin-top: 24px;
}
.childpara p{
    font-weight: 700;
    text-align: left;
    line-height: 35px;
    margin-top: 40px !important;
}

.img-and-info {
    background-color: #ededed;
    padding: 15px 20px 0;
    text-align: center;
    border-radius: 5px;
    height: 120px;
}
.img-and-info p {
    font-size: 1.8rem;
    margin: 10px 0;
    font-weight: 700;
    color: #282d32;
}
section.refress-section {
    margin: 30px 0;
}
section.opening-time {
    margin: 50px 0;
}
.football-party-section {
    background: #e9eaea;
    padding: 20px;
}
.football-party-section h2 {
    font-size: 3.2rem;
    margin: 0 0 20px;
}
.football-party-section p {
    font-size: 1.6rem;
}
.football-party-section ul {
    padding: 0;
}
.football-party-section li {
    list-style-type: none;
    margin: 20px 0;
    padding: 0 0 0 20px;
    background: url(../images/icons/list-icon.png);
    background-repeat: no-repeat;
    background-position: 0;
}
.opening-hours h2 {
    font-size: 3.2rem;
}
.opening-hours table {
    width: 100%;
    margin-top: 20px;
    background-color: #c80000;
    text-align: center;
}
.opening-hours table td {
    color: #fff;
    padding: 12px 0;
    border: 1px solid #fff;
    width: 50%;
}
.select-coaching {
    display: inline-block;
    float: left;
    /* background-color: red; */
    width: 11%;
}
.selectcity-town {
    display: inline-block;
    float: left;
    width: 74%;
}
button.search {
    width: 15%;
}
.select-coaching select {
    border: none;
    background-color: #d9dada;
    color: #000;
    padding: 16px 10px;
    border-radius: 10px 0 0 10px;
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    height: 64px;
}
.select-coaching select:focus{
    border: none !important;
    outline:none !important;
}
.selectcity-town input[type="text"] {
    width: 100%;
    padding: 15px 10px;
    border: none;
    background-color: #fff;
    margin: 0;
    height: 64px;
}
button.search {
    width: 15%;
    background-color: #c80000;
    border: none;
    padding: 15px 0;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 800;
    height: 64px;
}
.load-more-button {
    text-align: center;
    margin: 20px 0;
}
.load-more {
    background-color: #c80000;
    border: none;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 800;
}
/*Date-1-08-19--children-page-css-end*/
/*Date-2-08-19--corporate-page-css-start*/
.hover-deta-img.team-build {
    margin: 15px;
}
section.corporate-sports-day {
    margin: 80px 0 0;
}
.video-play-icon-cp {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    width: 150px;
    margin: 0 auto;
}
.right-side-crousel .carousel-link .thumb {
    height: 68px;
}

.img-and-info img {
    height: 50px;
}
.right-side-crousel .carousel-link .thumb img {
    width: 100%;
    margin: 1px;
    margin-top: 2px;
    height: 100%;
    object-fit: cover;
}
#venueList .dropdown-menu {
    background-color: #f0f0f0;
}
.info-cp p {
    text-align: left;
    margin: 10px 0 0;
    font-size: 15px;
    line-height: 20px;
    color: #3e3c3c;
}
section.faq-christmas-party {
    margin-top: 20px;
}
.head-challange {
    padding: 0 15px;
}
.info-cp {
    margin-top: 20px;
}
section.sports-challanges {
    margin: 30px 0 0;
}
.head-challange h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #282d32;
}
.head-challange p {
    font-size: 15px;
}
/*tabvertical-design-start*/
.tabs-left {
  border-bottom: none;
}

.tabs-left>li {
  float: none;
 margin:0px;
  
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #f0f0f0;
    margin: 10px 0;
    font-size: 1.8rem;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a, .tabs-left>li.active>a:hover, .tabs-left>li.active>a, .tabs-left>li.active>a:hover, .tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    background: #c80000;
    border: none;
    border-radius: 0px;
    margin: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.nav-tabs>li>a:hover {
    /* margin-right: 2px; */
    line-height: 1.42857143;
    border: 1px solid transparent;
    /* border-radius: 4px 4px 0 0; */
}
    .tab-design-function {
    overflow: hidden;
    margin: 50px 0 0;
}
/*tab-vertical-design-end*/    
/*Date-2-08-19--corporate-page-css-end*/
/*Date-2-08-19--dashboard-page-css-start*/
.dashboard-header img {
    width: 170px;
    margin-right: 32px;
}
section.dashboard-header {
    padding: 0 15px;
    background-color: #000;
}
.search-bar-dashboard input[type="text"] {
    background-color: #333;
    border: none;
    padding: 7px 30px;
    border-radius: 5px;
    color: #fff;
}
.search-bar-dashboard {
    clear: both;
    position: relative;
    display: inline-block;
    position: relative;
    top: 9px;
    right: -5px;
}
.search-bar-dashboard img {
    width: 15px;
    position: absolute;
    top: 10px;
    left: 6px;
}
.icon-img img{width: auto;margin: 0 10px;}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 5px;
    font-weight: 800;
    color: #fff !important;
    font-size: 15px;
}
.icon-img a {
    padding: 12px 0 !important;
}
.navbar-static-top .profile-name a{color: #c80000 !important;}
.caret{color: #c80000;}
.profile-img {
    height: 35px;
    width: 35px;
    background-color: red;
    border-radius: 50%;
    float: left;
    position: relative;
    top: -8px;
    left: -5px;
}
.profile-img img{
    width: 100%;
    border-radius: 50%;
    margin: 0;
    height: 35px;
}
section.account-setting-content {
    margin: 50px 0;
}
.profile-info {
    background-color: #ededed;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
}
.img-pro img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    float: left;
    margin: 0 25px 0 0;
}
p.name-user {
    display: inline-block;
    float: left;
    font-size: 2rem;
    margin-top: 10px;
    font-weight: 800;
    text-transform: capitalize;
    color: #282d32;
}
.name-img-profile {
    clear: both;
    overflow: hidden;
}
.basic-info {
    padding: 10px 0;
}
.basic-info p {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    color: #a09e9e;
}
.basic-info ul {
    padding: 0;
}
.basic-info li {
    list-style-type: none;
    margin: 10px 0;
}
.basic-info li  img {
    margin: 4px 15px 0 0;
    width: 16px;
    overflow: hidden;
    float: left;
}
section.sign-in {
    display: flex;
    clear: both;
    height: auto;
}
.basic-info a {
    font-size: 1.4rem;
    color: #000;
    font-weight: 400;
    text-decoration: none;
}
.pr-0 {
    padding-right: 0;
}
.pl-0 {
    padding-left: 0;
}
/*.img-pro img{width: 100%;}*/
.link{color: #c80000 !important;}
.right-account-setting li {
    width: 100%;
    display: flex;
}
input#refund_days {
    border: 1px solid #ccc;
    background-color: transparent;
    padding: 0 10px;
    border-radius: 5px;
}
.right-account-setting .nav>li>a {
    position: relative;
    display: block;
    padding: 20px 0;
    font-weight: 600;
    color: #000 !important;
    background-color: #e8e7e7;
    border-radius: 0;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.right-account-setting li.active a {
    background: #000 !important;
    color: #fff !important;
}
.headding-account{
margin-bottom: 20px;
}
.content-profile {
    background-color: #f0f0f0;
    padding: 30px;
}
.profile-img-edit img{
    height: 150px;
    width:160px;
    border-radius: 50%;
    float: left;
}
/*.profile-img-edit img{
    width: 100%;
}*/
.content-profile {
    background-color: #f0f0f0;
    padding: 30px;
    overflow: hidden;
}
.edit-profile-img {
    overflow: hidden;
    margin: 30px 0;
}
button.edit-profile-button {
    background-color: #c80000;
    border: none;
    color: #fff;
    padding: 9px 19px;
    position: absolute;
    top: 42px;
    right: 99px;
    font-weight: 700;
        font-size: 14px;
}
.edit-profile-button img {
    margin-right: 10px;
}

.edit-content input.form-control {
    height: 50px;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 30px;
    background-color: #f0f0f0;
}
.edit-content label.control-label {
    position: absolute;
    top: -11px;
    left: 39px;
    background-color: #f0f0f0;
    font-size: 14px;
    z-index: 111;
}
.edit-content {
        padding: 10px 0;
    display: block;
    clear: both;
    width: 100%;
    float: left;
}
textarea.form-control{
    min-height: 80px;
}
.intrest-checkbox label {
    color: #000;
    font-size: 1.6rem;
    text-transform: capitalize;
}
.intrest-checkbox .styled-checkbox + label:before {
    background-color: #fff;
    height: 18px;
    width: 18px;
    top: 3px;
    position: relative;
        border: 1px solid #ccc;
}
.intrest-checkbox  .styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 10px;
  background: black;
  width: 4px;
  height: 4px;
  box-shadow: 2px 0 0 black, 4px 0 0 black, 4px -2px 0 black, 4px -4px 0 black, 4px -6px 0 black, 4px -8px 0 black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.intrest-checkbox {
    display: inline-block;
    margin: 0 10px 0 0;
}
.pro-info h3 {
    margin-top: 20px;
}
.pro-info{
    z-index: 10;
}
/*dropdown-custom*/

.dropdown-area {
    position: static;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}


.dropdown-area dd,
.dropdown-area dt {
  margin: 0px;
  padding: 0px;
}

.dropdown-area ul {
  margin: -1px 0 0 0;
}

.dropdown-area dd {
  position: relative;
}

.dropdown-area a,
.dropdown-area a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown-area dt a {
    background-color: #f0f0f0;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 100%;
    bottom: 1px solid #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.dropdown-area dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
  color: #b5b2b2;
}

.dropdown-area dd ul {
    background-color: #ffffff;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: relative;
    top: 2px;
    width: 100%;
    list-style: none;
    height: 100px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}

.dropdown-area span.value {
  display: none;
}

.dropdown-area dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown-area dd ul li a:hover {
  background-color: #fff;
}
.mutliSelect li {
    width: 24.6%;
    text-align: left;
    float: left;
        margin: 5px 0;
}
button.update-setting {
    background-color: #c80000;
    border: none;
    color: #fff;
    padding: 16px 20px;
    text-transform: capitalize;
    font-weight: 800;
    border-radius: 5px;
}
.ammount-box {
    text-align: center;
}
.not-happy{font-size: 1.4rem; margin-top: 20px;}
.notification-deta .intrest-checkbox {
    display: block;
}
.map-location {
    width: 100%;
    margin-bottom: 20px;
}
.welcome-back {
    background-color: #f0f0f0;
    padding: 60px 40px;
    text-align: center;
    border: 1px solid #e6e6e6;
}
.welcome-back p img {
    margin: 0 8px;
}
.welcome-back p {
    margin: 10px 0;
}
.account-setting-content .game-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.game-img {
    height: 100%;
    clear: both;
}
.somerset{margin-top: 10px;}
.search-fields.dashboard-game {
    overflow: hidden;
    margin-bottom: 10px;
}
.dashboard-game .selectcity-town input {
    background-color: #f0f0f0 !important;
    border-radius: 5px 0 0 5px;
}
.dashboard-game .selectcity-town {
    width: 85%;
}
.tabs-left.sideways a {
    color: #000 !important;
    padding: 10px 40px;
}
.tabs-left.sideways .active a {
    color: #fff !important;
    
}
.balance {
    background-color: #ededed;
    border: 1px solid #ccc;
    padding: 20px 0;
    text-align: center;
}
.top-payment-content {
    overflow: hidden;
    margin-bottom: 30px;
}
.ammount-box h2 {
    color: #c80000;
    margin-bottom: 10px;
    font-size: 30px;
}
.ammount-box h2 {
    color: #c80000;
    margin-bottom: 10px;
}
.box-vailue {
    width: 50%;
    margin: 12px auto;
    padding: 6px 0;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}
.payment-accordion h2 {
    margin-bottom: 20px;
    font-size: 34px;
    color: #282d32;
}
.panel-title ul {
    display: inline-block;
    padding: 0;
    float: right;
}
.panel-title li{display: inline-block;}
.panel-title label {
    display: block;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #ededed;
    border-color: #ddd;
    border-radius: 0 !important;
    border: none;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #ededed;
    padding: 5px 20px;
}

.panel-body {
    border: none !important;
}
.panel-title span {
    font-size: 24px;
    font-weight: 700;
}
img.tool-tip-icon {
    position: absolute;
    top: 18px;
    right: 23px;
}
.save-details img{margin: 0 5px 0 0;}
p.save-details {
    font-size: 1.2rem;
}
button.make-payment {
    background-color: #c80000;
    color: #fff;
    border: none;
    padding: 12px 25px;
    margin: 10px 0;
}
/*dropdown-custom*/
/*radio-buttons-css-start*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
       border: 1px solid #ccc;
    border-radius: 100%;
    background: #ededed;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #c80000;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*radio-buttons-css-end*/
/*Date-2-08-19--dashboard-page-css-end*/
/*Date-3-08-19--new-section-page-css-start*/
button.follow {
    background-color: #c80000;
    color: #fff;
    border: none;
    padding: 2px 15px;
    font-weight: 500;
    border: 1px solid #e6e6e6;
    /* color: #575f64; */
    font-weight: 500;
}
.ground-map img {
    width: 100%;
}
.ground-map {
    margin-bottom: 20px;
}
textarea.form-control {
    height: auto;
    background-color: #fff;
    margin-bottom: 35px;
}
p{color: #252527;}
.can-not-find a{color: #c80000;}
.can-not-find {
    margin: 10px 0 20px;
}
h2.gender-hedding {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 10px 0;
}
.gender-select ul {
    padding: 0;
}
.gender-select li {
    display: inline-block;
    margin-right: 18px;
}
button.create-game {
    background-color: #c80000;
    color: #fff;
    border: navajowhite;
    padding: 10px 15px;
    margin: 10px 0;
}
.edit-profile-img-profilepage img{
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 30px;
}.edit-profile-img-profilepage {
    height: 140px;
    width: 140px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.edit-profile-img-profilepage img{width: 100%;}

.edit-your-profile {
    background-color: #c80000;
    color: #fff;
    border: none;
    padding: 8px 34px;
    margin: 0 auto;
    border-radius: 5px;
}
.information-profile{margin: 30px 0;position: relative;}
.information-profile h2 {
    font-size: 22px;
    color: #282d32;
}
.information-profile ul {
    padding: 0;
}
.information-profile li {
    list-style-type: none;
    margin: 15px 0;
    overflow: hidden;
    text-transform: capitalize;
}
.information-profile strong {
    width: 34%;
    display: inline-block;
    float: left;
    font-size: 18px;
    color: #282d32;
}
.information-profile span {
    display: inline-block;
    width: 60%;
    float: left;
    color: #949494;
    font-size: 16px;
}
.border-right {
    position: absolute;
    height: 1px;
    width: 44%;
    background-color: #ccc;
    top: 12px;
    right: 0;
}
/*Date-3-08-19--new-section-page-css-end*/


/* my custom css */

.invalid-feedback{
    color: #c80000;
    font-size: 12px;
}
.content-profile .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f0f0f0;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    height: 48px;
        text-transform: capitalize;
}
.upload-btn-wrapper {
    position: static;
    display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#map {
    height: 300px;
}
.nav-pills{display: flex;}
.edit-your-profile img {
    margin: 0 8px;
}

/*teams-page-css*/
.team-listings {
    background-color: #f0f0f0;
}
.team-listings {
    background-color: #f0f0f0;
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.team-listings h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.player-list ul {
    padding: 0;
}
.player-list li {
    display: inline-block;
    margin:0 15px 0 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.player-list li img{width: 100%;}
li.more-player {
    background-color: #c80000;
    color: #fff;
    padding: 13px 0;
    text-align: center;
}
.img-creater{
    display: inline-block;
    margin:0 15px 0 0;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.img-creater img{width: 100%;}
.team-creater {
    text-align: center;
}
.team-creater h3{font-size: 1.6rem;}
.team-members {
    background-color: #f0f0f0;
    padding: 20px;
    position: relative;
}
button.add-new-team {
    background-color: #c80000;
    color: #fff;
    border: none;
    padding: 8px 14px;
    position: absolute;
    right: 20px;
    top: 22px;
}
.content-profile textarea.form-control {
    height: auto;
    background-color: #f0f0f0;
}
/*map-deta*/
.locate-card {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(206,46,46,0.8);
    padding: 20px;
    height: 100%;
}
.bottom-footer a {
    color: #fff;
}
.locate-card h2 {
    font-size: 2.6rem;
    color: #fff;
    margin-bottom: 10px;
}
.locate-card p {
    font-size: 1.4rem;
    color: #fff;
    margin: 22px 0;
    font-weight: 300;
}
section.contact-map {
    position: relative;
}
button.contact-map {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 30px;
    border-radius: 5px;
    font-weight: bold;
}

/*drop-down*/

.dropdown-menu.notifications {
    background-color: #000;
    padding: 10px;
    width: 400px;
}
.notifications li a {
    color: #fff;
    display: block;
    overflow: hidden;
    font-size: 12px;
}
.notifyul li {
    display: inline-block !important;
    padding: 10px 0px !important;
}
.notifyul li a{
    padding: 0px !important;
}
.notifications {
  -webkit-animation-name: cssAnimation;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(0deg) scale(0) skew(0deg) translate(10px);
  }
  to {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
  }
}
.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
}
.profile-pic img{width: 100%;}
.content-notifications p {
    font-size: 12px;
    color: #fff;
    width: 80%;
    display: inline-block;
    float: left;
    word-break: break-all;
    padding: 0 20px;
    white-space: initial;
}


.dropdown-menu.notifications>li>a:hover, .dropdown-menu.notifications>li>a:focus {
    color: #000000 !important;
    text-decoration: none;
    background-color: #c80000;
}
.drop-head h1 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 15px 0;
    border-bottom: 1px solid #c80000;
    background-color: #c80000;
    padding: 9px 7px;
}
.notifications ul {
    padding: 0;
}
.notifications li {
    list-style-type: none;
    /* display: inline-block; */
}
.notifications li span{
    color: #869791;
}
li.see-all a {
    padding: 20px 10px !important;
}
li.see-all a:hover {
    background-color: #000 !important;
}
.dropdown-menu.notifications .see-all a:hover {
    color:#fff !important;
}

textarea.mgs-rply {
    width: 100%;
    border: 1px solid #ccc;
    height: 70px;
    border-radius: 5px;
}
button.reply-here {
    background-color: #c80000;
    color: #fff;
    border: 1px solid #c80000;
    padding: 10px 20px;
}
.text-mgs-area{display: none;}
.datebox {
    border: none;
    padding-left: 10px;
    width: 108px;
    font-weight: 700;
}
.selectfilter {
    border: none;
    padding: 3px 6px;
    color: #a1b1c1;
    text-transform: uppercase;
    font-weight: 700;
	margin: 3px 13px;
}
.time h2 {
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 5px;
}
.time {
    background-color: #47595a;
    border-radius: 5px 5px 0 0;
}
.day {
    background-color: #2c3839;
    text-align: center;
    padding: 3px 0;
    border-radius:0 0 5px 5px;
}
.day p{color: #fff;}
.time h2 span {
    color: #fff;
    font-size: 12px;
    margin: 2px 0;
    display: block;
}
.img-upcome {
    height: 30px;
    width: 30px;
    float: left;
}
.img-text p {
    display: inline-block;
    float: left;
    width: 77%;
    font-size: 9px;
    line-height: 12px;
    padding: 2px 5px;
}
.content-status .col-sm-7 {
    padding: 0 8px;
}
p.price-up {
    font-size: 14px;
    color: #c80000;
    font-weight: 700;
}
p.team-up {
    background-color: #47595a;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 1px 0;
    border-radius: 3px;
}


/*vanue-detail-page-css*/
.map img {
    width: 100%;
    margin: 10px 0;
}
.location img {
    width: auto;
}
.venu-tabbar ul{
    border:none;
}

.venu-tabbar li.nav-item {
    width: 50%;
    text-align: center;
}
.venu-tabbar li.nav-item a{
   
    background-color: #ededed;
}
.venu-tabbar li.nav-item a {
    background-color: #ededed;
    color: #333 !important;
}
.venu-tabbar li.nav-item.active a {
    background-color: #000;
    color: #fff !important;
}
.login-signup a:hover{color: #fff !important;}
.venue-content-here ul {
    padding: 0;
}
.venue-content-here li {
    list-style-type: none;
    overflow: hidden;
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    padding: 5px 0 13px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px 0 #ddd;
}
.venue-content-here h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.discription h2 {
    font-size: 3rem;
    margin: 0 0 20px;
    position: relative;
    top: -5px;
}
.discription h4 {
    font-size: 2rem;
    margin: 20px 0;
}
.mutliSelect .styled-checkbox + label {
    color: #000;
}
.mutliSelect .styled-checkbox + label:before {
     vertical-align: text-top;
    width: 18px;
    height: 18px;
        border: 1px solid #ccc;
}
.listing-games {
    margin-top: 20px;
}
.mutliSelect .styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 6px;
  background: black;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 black, 4px 0 0 black, 4px -2px 0 black, 4px -4px 0 black, 4px -6px 0 black, 4px -8px 0 black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button#signature-clear {
    width: 120px;
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: #e44444;
    color: #fff;
    position: relative;
    top: -33px;
}
.basic-info .text-basic {
    padding-bottom: 5px;
    border-bottom: none;
    color: #ccc;
    display: inline-block;
    clear: both;
    overflow: hidden;
    width: 90%;
    color: #000;
    font-size: 16px;
}
.carousel-link {
    overflow: hidden;
    display: flex;
}.text-danger {
/*    color: #a94442;
    position: absolute;
    bottom: -22px;
    font-size: 12px;*/
	    color: #a94442;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    width: 100%;
    position: relative;
    display: block;
}

.form-group {
    margin-bottom: 25px;
    position: relative;
}
.footer-menu li a:hover, .footer-menu li a:focus{color:#c80000 !important;}
.notifications li a:hover, .notifications li a:focus{color:#c80000 !important;}

.owl-buttons {
  /*display: none;*/
}
.owl-carousel:hover .owl-buttons {
  display: block;
}

.owl-item {
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 300px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px;
}
.fa-inverse {
    color: #fff;
    height: 50px;
    width: 50px;
    background-color: #fffdfdc2;
    border-radius: 50%;
    font-size: 30px;
    padding: 8px 0;
}

.account-setting-content h3 {
    font-size: 18px;
    margin: 0 0;
}
.badge{margin:0 6px;}
span.notification-blink {
    height: 18px;
    width: 18px;
    background-color: #c80000;
    /* padding: 0 5px; */
    border-radius: 50%;
    display: block;
    margin: 0;
    position: absolute;
    color: #fff;
    text-align: center;
    top: 0;
    right: 0;
    font-size: 10px;
}
    /*profile-img-css-start*/
.circle .profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
    width: 100%;
    height: 100%;
}

.p-image .file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 160px;
    height: 160px;
    border: none;
    position: relative;
    top: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
    position: absolute;
    top: 107px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.small-12.medium-2.large-2.columns {
    /* display: inline-block; */
    position: relative;
    width: 70%;
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.card {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 2px 5px 0 #ccc;
    border-radius: 5px;
}
.card-header {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}
.card-body a {
    color: #c80000;
}
.navbar-brand img:last-child {
    margin-right: 0;
}
.phone-number-contact img {
    margin-right: 8px !important;
}
nav.navbar.navbar-light.bg-light.justify-content-between {
    padding: 35px 0;
}
ul.navbar-nav.menu-header.mt-2.mt-lg-0 {
   float: none;
    margin: 0 auto;
    display: inline-block;
}
ul.navbar-nav.menu-header.mt-2.mt-lg-0 li {
    float: none;
}

.dropdown-menu {
    background-color: #000;
}
.header_section a.dropdown-item {
    padding: 5px 6px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}
.heading-party h2 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}
.heading-party {
    /*text-align: center;*/
	padding:0px 30px;
}
.heading-party p {
    font-size: 18px;
    font-weight: 400;
}
.box-faqs {
    padding: 40px 0;
}
.box-faq-red {
/*    background-color: #c80000;
    text-align: center;
    min-height: 250px;
    display: block;
    vertical-align: middle;
    padding: 100px 30px 0;
    border-bottom: 15px solid #fff;
    border-top: 15px solid #fff; 
    margin: 15px 0;*/
	    background-color: #c80000;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding: 30px 30px;
    margin: 8px 0;
    border-radius: 60px;
}
.box-faq-red p {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
}
.box-faq-black {
/*    background-color: #000;
    text-align: center;
    min-height: 250px;
     display: block;
    vertical-align: middle;
    padding: 100px 30px 0;
    border-bottom: 15px solid #fff;
    border-top: 15px solid #fff;
    margin: 15px 0;*/
	background-color: #000;
    text-align: center;
    display: block;
    vertical-align: middle;
    padding: 30px 30px;
    margin: 8px 0;
    border-radius: 60px;
}
.box-faq-black p {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
}
button.enquiry-now {
    background-color: #c80000;
    border: none;
    color: #fff;
    text-align: center;
    margin: 30px auto;
    width: 300px;
    display: block;
    padding: 6px 0;
    border-radius: 5px;
    font-size: 18px;
}
.whats-included{
    font-size: 40px;
    margin-bottom: 40px;
    color: #282d32;
}
.content-info-lorem p {
    font-size: 16px;
    line-height: 28px;
}
section.amazing-vanue {
    margin: 50px 0;
}
h2.amazing-heading {
    font-size: 36px;
    margin-bottom: 50px;
}
.amazing-content-section p {
    font-size: 20px;
    margin: 30px 0;
    line-height: 30px;
}
.img-amazing {
    padding-right: 50px;
    
}
.img-amazing img{
   width: 100%;
    
}
.descriptiontitle{
    margin-top:40px;
}
.maptoggle{
    right: 15px;
}

.design-list .col-sm-3{
    overflow: hidden;
}
.maptoggle {
    right: 13px;
}
.video-detail iframe {
    width: 100%;
}
.left-header{
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 0;
}
.left-header a{
    line-height: 32px;
}
.left-header img{
    float: left;
    margin-right: 10px !important;
}
.userlogo img{
  width: 170px !important;
}
.popvenuename a{
    color: #3c4144;
    font-weight: 600;
}
.popgamename{
    font-size: 13px;
    margin-bottom: 0;
}
.popgamename a{
    font-size: 13px;
}
.popseemore{
    margin-top: 10px;
}
.popseemore a{
    color: #a1a8ac !important;
    font-weight: 300;
    font-size: 13px;
}
    /*profile-img-css-end*/
	
.info-game .follow1.setfollow {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 2px 15px;
    font-weight: 500;
    border: 1px solid #e6e6e6;
    font-weight: 500;
    font-size: 1.3rem; 
}